﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="search.aspx.cs" Inherits="PL.User.search" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:DataGrid ID="DataGrid1" runat="server" Height="155px" Width="878px" BackColor="White" BorderColor="#DEDFDE" BorderStyle="None" BorderWidth="1px" CellPadding="4" ForeColor="Black" GridLines="Vertical">
           <AlternatingItemStyle BackColor="White" />
           <Columns>
               <asp:EditCommandColumn CancelText="Cancel" EditText="הזמן" UpdateText="Update"></asp:EditCommandColumn>
           </Columns>
           <FooterStyle BackColor="#CCCC99" />
           <HeaderStyle BackColor="#6B696B" Font-Bold="True" ForeColor="White" />
           <ItemStyle BackColor="#F7F7DE" />
           <PagerStyle BackColor="#F7F7DE" ForeColor="Black" HorizontalAlign="Right" Mode="NumericPages" />
           <SelectedItemStyle BackColor="#CE5D5A" Font-Bold="True" ForeColor="White" />
    </asp:DataGrid>
    <p>
    </p>
</asp:Content>
